<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rj.android.nnews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/news"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.rj.android.nnews.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.rj.android.nnews.data.ArticleProvider"
            android:authorities="com.rj.android.nnews"
            android:enabled="true"
            android:exported="true"
            android:permission="com.rj.android">
        </provider>

        <permission
            android:name="com.rj.android"
            android:protectionLevel="dangerous"
            android:label="rj"
            ></permission>




        <activity
            android:name="com.rj.android.nnews.DetailActivity"
            android:label="@string/title_activity_detail"
            android:configChanges="orientation|keyboard"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
